<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Razorpay Payment</title>
</head>

<body>
  <h1>Razorpay Payment Gateway Integration</h1>

  <!-- The form is commented out in the original HTML. Uncomment it if needed. -->

  <form id="payment-form">
    <!-- <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" required> -->
    <!-- <button type="button" id="pay-button" onclick="payNow()">Pay Now</button> -->
  </form>


  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>

    var restdata = {
      "razorpayKeyId": "rzp_test_MuUPEsJccohUXX",
      "amount": "35400",
      "currency": "INR",
      "name": "Dummy Academy",
      "description": "Pay & Checkout this Course, Upgrade your DSA Skill",
      "id": "order_OyWwQytLPebPZg",
      "userName": "guest",
      "userEmail": "swapnil@4ibiz.in",
      "userContact": "1234567890"
    }
    async function payNow() {

      var options = {
        "key": restdata.razorpayKeyId,
        "amount": restdata.amount,
        "currency": restdata.currency,
        "name": restdata.name,
        "description": restdata.description,
        "order_id": restdata.id,
        "handler": function (response) {
          console.log(response)
          alert("This step of Payment Succeeded");
        },
        "prefill": {
          "name": restdata.userName,
          "email": restdata.userEmail,
          "contact": restdata.userContact
        },
        "notes": {},
        "theme": {
          "color": "#2300a3"
        }
      };
      var razorpayObject = new Razorpay(options);
      console.log(razorpayObject);
      razorpayObject.on('payment.failed', function (response) {
        console.log(response);
        alert("This step of Payment Failed");
      });

      // document.getElementById('pay-button').onclick = function (e) {
      razorpayObject.open();
      e.preventDefault();
      // }

    }

    payNow()
  </script>


</body>

</html>