<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row text-center" style="margin-top: 25%;">
            <div class="col-xs-12">
                <!-- <img src="http://www.fuelpricealert.in/success.gif" style="width: 150px;height: 150px;"> -->
                <img src="http://www.fuelpricealert.in/success.gif" style="width: 150px;height: 150px;">
                <h2 style="color:#0fad00">Success</h2>

                <p style="font-size:20px;color:#5C5C5C;">
                    Your transaction completed successfully.
                </p>
                <a href="https://app.fuelpricealert.in">
                    <button class="button">Go To App</button>
                </a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>

</html>