<div class="row" style="z-index: 3;">
  <div class="col-md-12 fyt-display-flex">
      <span class="sp">
      </span>
      <span class="new-Montserrat-Medium fyt-link-btn new-999999" (click)="closeDialog('cancel')"> <span style="border-bottom: 1px solid #999999;">Close &nbsp;x</span>
      </span>
  </div>
  <div class="col-md-12 ta-c" style="border-bottom: 1px solid #999999;">
      <h6 class="ta-c new-Montserrat-Regular fnt-15 new-333333">RESTRICTION !</h6>
      <span class="fnt-15 new-Montserrat-Regular new-808080 ta-c">You are not authorised to access this functionality, Please contact your Admin!</span>
      <!-- <h6 class="ta-c new-Montserrat-Medium fnt-15 new-0071BC pt-10">{{memberDetailsData.fullName | uppercase}}</h6>
      <h6 class="ta-c new-Montserrat-Medium fnt-15 new-0071BC">SIR NO - {{memberDetailsData.srNo}}</h6> -->

  </div>

  <div class="col-md-12 col-12 py-3 pb-20 ta-c">
    <button type="button" class="new-Montserrat-Medium no-btn" style="text-align: initial;" (click)="closeDialog('cancel')"><img src="../../../../assets/icons/member_profile/no.png" width="22px" style="margin-top: -2px;" alt="">&nbsp;OK</button>
    </div>
</div>